background_img_item(link)
	background url(link)
	background-size cover
	background-repeat no-repeat

.Content
	margin 2em 0 0 0 
	overflow hidden

.Content-left
	margin-top 2em
	margin-left 3.5em
	float left
	width 60%
	text-align center

.ContentItem
	width 300px
	height 200px
	display inline-block
	margin 1em  1em 2em 1em
	background_img_item('http://img4.wikia.nocookie.net/__cb20130810002359/le-grupo-cancerigeno/es/images/1/1f/Gente_feliz.jpg')	

.ContentItem-description
	position relative
	left 0
	right 0
	background rgba(225,225,225,0.8)
	top 156px
	padding .1em 0
	p
		color links_color
		font-weight bold
		text-transform uppercase

.Content-right
	margin-top 2em
	float left 
	width 250px

.ContentRight-large
	list-style none
	background #fff
	height 100%
	width 210px
	padding .3em 0 0 0

.ContentRight-item
	border-bottom 1px dotted font_color
	display block
	&:last-child
		border-bottom none
		margin-bottom .4em
	

.ContentRightItem-title
	margin .5em 0 0 1em

.ContentRight-img
	margin 0
	padding 0
	img
		width 190px
		height 90px
		margin .2em 10px 0 10px
	

.ContentRightItem-caption
	font-size .80em
	margin 0 10px .3em 10px
	padding-bottom .2em
	text-align left
	

.ContentSubmenuBar
	
	background rgba(225,225,225,0.80)
	height 0.5em
	padding 1.3em
	text-align center
	width 60.8em
	margin-left 16%
	margin-top 3.5em

.ContentSubmenuBar-item
	
	display inline-block
	padding-right 1.8em
	font-weight bold
	

.ContentSubmenuBar-link
	color font_color

	text-decoration none
	&:hover
		text-decoration underline
		
.ContentDescription
	
	text-align: center;
	
.ContentDescriptionItem
	background rgba(225,225,225,0.8)
	border-radius: 6em 0em 6em 0em
	display inline-block
	margin 2em
	text-align center
	width 25em

.ContentDescripcionTitle
	color font_color
	font-size 1.5em
	font-weight bold
	text-transform uppercase
	

.ContentDescripcionSubtitle
	color font_color
	margin 2.5em
	margin 3.5em
	text-align justify
	
.fa 
	margin-top 0.5em